In [1]:
import pandas as pd

# Read the file
csv_file = 'output.csv'
df = pd.read_csv(csv_file)
print(df.head())

                                 Title  Start Date    End Date  ATC Code
0  Estalis 50 / 250 mikrog / 24 tuntia  2024-04-19  2024-07-26   G03FA01
1                  Scalibor vet 0.76 g  2024-04-18  2024-06-15  QP53AC11
2                       Elidel 10 mg/g  2024-03-15  2024-06-07   D11AH02
3                       Elidel 10 mg/g  2024-02-05  2024-05-03   D11AH02
4           Risperidon Ratiopharm 4 mg  2024-04-19  2024-05-02   N05AX08

In [2]:
from datetime import datetime, timedelta

# Ensure column names are stripped of whitespace
df.columns = df.columns.str.strip()

# Check the column names after stripping
print(df.columns.tolist())

# Function to calculate the start week of the year
def start_week_of_year(date):
    year_start = datetime(date.year, 1, 1)
    week_start = year_start - timedelta(days=year_start.weekday())
    delta = date - week_start
    return (delta.days // 7) + 1

# Function to calculate duration in weeks, counting partial weeks as full weeks
def duration_in_weeks(start_date, end_date):
    delta = end_date - start_date
    return (delta.days // 7) + (1 if delta.days % 7 else 0)

# Convert 'Start Date' and 'End Date' to datetime objects
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Calculate the starting week and duration
df['Starting Week'] = df['Start Date'].apply(start_week_of_year)
df['Duration (weeks)'] = df.apply(lambda row: duration_in_weeks(row['Start Date'], row['End Date']), axis=1)

# Extract the first letter from the 'ATC Code' column
df['ATC Code'] = df['ATC Code'].str[0]

# Save the modified DataFrame to a new CSV file
output_file = 'output_modified.csv'
df.to_csv(output_file, index=False)

#print("New columns added and file saved as 'output_modified.csv'")

['Title', 'Start Date', 'End Date', 'ATC Code']

In [3]:
new_csv_file = 'output_modified.csv'
df_new = pd.read_csv(new_csv_file)

print(df_new.head(5))
#print(df_new.columns.tolist())

                                 Title  Start Date    End Date ATC Code  \
0  Estalis 50 / 250 mikrog / 24 tuntia  2024-04-19  2024-07-26        G
1                  Scalibor vet 0.76 g  2024-04-18  2024-06-15        Q
2                       Elidel 10 mg/g  2024-03-15  2024-06-07        D
3                       Elidel 10 mg/g  2024-02-05  2024-05-03        D
4           Risperidon Ratiopharm 4 mg  2024-04-19  2024-05-02        N

   Starting Week  Duration (weeks)
0             16                14
1             16                 9
2             11                12
3              6                13
4             16                 2

In [4]:
# Convert the 'Start Date' column to datetime
df_new['Start Date'] = pd.to_datetime(df_new['Start Date'])

# Filter rows where 'Start Date' falls within the year 2024
df_filtered = df_new[df_new['Start Date'].dt.year == 2024]

# Display the first 5 rows of the filtered DataFrame to verify
print(df_filtered.head())

                                 Title Start Date    End Date ATC Code  \
0  Estalis 50 / 250 mikrog / 24 tuntia 2024-04-19  2024-07-26        G
1                  Scalibor vet 0.76 g 2024-04-18  2024-06-15        Q
2                       Elidel 10 mg/g 2024-03-15  2024-06-07        D
3                       Elidel 10 mg/g 2024-02-05  2024-05-03        D
4           Risperidon Ratiopharm 4 mg 2024-04-19  2024-05-02        N

   Starting Week  Duration (weeks)
0             16                14
1             16                 9
2             11                12
3              6                13
4             16                 2

In [5]:
df_filtered["ATC Code"].head(-1)

0      G
1      Q
2      D
3      D
4      N
      ..
457    P
458    A
459    A
460    R
461    R
Name: ATC Code, Length: 377, dtype: object

In [7]:
csv_file = 'data_viikko_hva_2024.csv'
df = pd.read_csv(csv_file, delimiter=";")

# Drop rows with NaN in 'ATC_KOODI'
df.dropna(subset=['ATC_KOODI'], inplace=True)

#print(df.head(5))

In [8]:
print(df.head(5))

    VUOSI  VIIKKO VAR_KUSTANNUS  VAR_N_OSTOT  VAR_N_HENKILOT ATC_KOODI  \
15   2024       1    3971372,03       103169           82463         A
16   2024       1    3818923,51        34065           33655         B
17   2024       1    2481070,90       251366          155969         C
18   2024       1     472134,71        12871           11884         D
19   2024       1    1305629,07        45174           41337         G

                                        ATC_SELITE_FI  \
15  (A) Ruuansulatuselinten sairauksien ja aineenv...
16                           (B) Veritautien lääkkeet
17        (C) Sydän- ja verisuonisairauksien lääkkeet
18                               (D) Ihotautilääkkeet
19  (G) Sukupuoli- ja virtsaelinten sairauksien lä...

                                 ATC_SELITE_SV  \
15  (A) Matsmältningsorgan och ämnesomsättning
16             (B) Blod och blodbildande organ
17                    (C) Hjärta och kretslopp
18                                     (D) Hud
19   (G) Urin- och könsorgan samt könshormoner

                                 ATC_SELITE_EN  ALUEKOODI  ATC_TASO  \
15         (A) Alimentary tract and metabolism         99         1
16          (B) Blood and blood forming organs         99         1
17                   (C) Cardiovascular system         99         1
18                         (D) Dermatologicals         99         1
19  (G) Genito urinary system and sex hormones         99         1

   ALUENIMI_FI    ALUENIMI_SV   ALUENIMI_EN                    UPDATED
15  Koko Suomi  Whole Finland  Hela Finland  2024-04-22 11:51:56.64498
16  Koko Suomi  Whole Finland  Hela Finland  2024-04-22 11:51:56.64498
17  Koko Suomi  Whole Finland  Hela Finland  2024-04-22 11:51:56.64498
18  Koko Suomi  Whole Finland  Hela Finland  2024-04-22 11:51:56.64498
19  Koko Suomi  Whole Finland  Hela Finland  2024-04-22 11:51:56.64498

In [9]:
# kinda problematic
# Select the specified columns
df_modified = df[['VUOSI', 'VIIKKO', 'VAR_N_OSTOT', 'ATC_KOODI']].copy()

# Extract the first letter from the 'ATC_KOODI' column
df_modified['ATC Code'] = df_modified['ATC_KOODI'].str[0]

# Add a new column 'SHORTAGE' with default values of zeros
df_modified['SHORTAGE'] = 0

# Save the modified DataFrame to a new CSV file
output_file = 'data_viikko_hva_2024_modified.csv'
df_modified.to_csv(output_file, index=False, sep=';')

print(df_modified.head())

    VUOSI  VIIKKO  VAR_N_OSTOT ATC_KOODI ATC Code  SHORTAGE
15   2024       1       103169         A        A         0
16   2024       1        34065         B        B         0
17   2024       1       251366         C        C         0
18   2024       1        12871         D        D         0
19   2024       1        45174         G        G         0

In [12]:
import pandas as pd

# Extract the first letter from 'atc_code'
df_modified['ATC_KOODIr'] = df_modified['ATC_KOODI'].str[0]

# Group by 'dates_y', 'dates_week', and the first letter of 'atc_code', and sum 'amount_of_buys'
df_grouped = df_modified.groupby(['VUOSI', 'VIIKKO', 'ATC_KOODIr'])['VAR_N_OSTOT'].sum().reset_index()

print(df_grouped)

     VUOSI  VIIKKO ATC_KOODIr  VAR_N_OSTOT
0     2024       1          A       721557
1     2024       1          B       238097
2     2024       1          C      1759364
3     2024       1          D        88836
4     2024       1          G       316053
..     ...     ...        ...          ...
205   2024      15          N      2138275
206   2024      15          P        23008
207   2024      15          R       786589
208   2024      15          S       157067
209   2024      15          V         3326

[210 rows x 4 columns]

In [16]:
df_grouped['ATC Code'] = df_grouped['ATC_KOODIr'].str[0]

df_grouped.to_csv('data_viikko_hva_2024_modified_fixed.csv', index=False, sep=';')

In [20]:

# Load the data from both CSV files
df_viikko = pd.read_csv('data_viikko_hva_2024_modified_fixed.csv', delimiter=';')
df_output = pd.read_csv('output_modified.csv')

# Define a function to check if the weeks overlap
def overlap(week, start_week, duration):
    # end_week is the last week of the duration, inclusive
    end_week = start_week + duration - 1
    # The week overlaps if it is within the start and end week range
    return week >= start_week and week <= end_week

# Iterate over 'df_viikko' and count overlaps with first letters in 'df_output'
for index, row in df_viikko.iterrows():
    # Get the week number from 'df_viikko'
    week = row['VIIKKO']
    
    # Initialize the overlap count for this row
    overlap_count = 0

    # Iterate over rows in 'df_output'
    for _, output_row in df_output.iterrows():
        # Check if the first letter of 'ATC Code' matches and if weeks overlap
        if output_row['ATC Code'] == row['ATC_KOODIr'] and overlap(week, output_row['Starting Week'], output_row['Duration (weeks)']):
            overlap_count += 1

    # Update the 'SHORTAGE' column with the overlap count
    df_viikko.at[index, 'SHORTAGE'] = overlap_count

# Save the updated DataFrame
df_viikko.to_csv('data_viikko_2024_modified_with_shortages_1.csv', index=False, sep=';')

In [19]:
csv_file = 'data_viikko_2024_modified_with_shortages_1.csv'
df = pd.read_csv(csv_file, delimiter=";")

print(df.head(20))

    VUOSI  VIIKKO ATC_KOODIr  VAR_N_OSTOT ATC Code  SHORTAGE
0    2024       1          A       721557        A       0.0
1    2024       1          B       238097        B       0.0
2    2024       1          C      1759364        C       3.0
3    2024       1          D        88836        D       0.0
4    2024       1          G       316053        G       0.0
5    2024       1          H       215043        H       0.0
6    2024       1          J       242862        J       0.0
7    2024       1          L        79135        L       1.0
8    2024       1          M       297292        M       0.0
9    2024       1          N      1510651        N       7.0
10   2024       1          P        16315        P       0.0
11   2024       1          R       430777        R       0.0
12   2024       1          S        91498        S       0.0
13   2024       1          V         2395        V       0.0
14   2024       2          A      1021557        A       1.0
15   2024       2          B       321988        B       0.0
16   2024       2          C      2500879        C       4.0
17   2024       2          D       124889        D       0.0
18   2024       2          G       443477        G       0.0
19   2024       2          H       299118        H       0.0